html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000;
  font-size: 2rem;
}

p {
  color: #000;
  line-height: 1.5;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0 0 5rem 0;
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 6rem;
  text-align: center;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

section {
  padding: 10rem 0;
}

li {
  list-style: none;
}

header {
  background-color: #4CB8B3;
}
header .container-header {
  padding: 2rem;
}
header .container-header .logo {
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  header .container-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  header .container-header .logo {
    text-align: left;
    margin: 0 2rem 0 0;
  }
}

.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav__link {
  color: #fff;
  font-size: 2.5rem;
}
.nav__link:hover {
  color: #FDDA00;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}

.video {
  position: relative;
  max-height: 65rem;
  overflow: hidden;
  padding: 0;
}
.video__overlay {
  align-items: center;
  background: linear-gradient(270deg, rgba(117, 47, 151, 0.6), rgba(57, 23, 73, 0.9));
  display: flex;
  position: absolute;
  inset: 0;
}
.video__overlay__container {
  z-index: 10;
}
.video__overlay__container h2 {
  color: #fff;
  font-size: 7rem;
  margin: 0;
}
.video__overlay__container p {
  background-color: #F53756;
  display: inline-block;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 2rem;
}
.video video {
  display: block;
  width: auto;
}
@media (min-width: 768px) {
  .video video {
    width: 100%;
  }
}

.festival {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(1, 1fr);
}
.festival__info h2 {
  margin-bottom: 2rem;
}
.festival__info__date {
  color: #4CB8B3;
  font-weight: 700;
}
.festival__info p {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .festival {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.lineup {
  background-color: #F53756;
}
.lineup h3, .lineup__day {
  text-align: center;
  color: #fff;
}
.lineup__day {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 3rem 0;
}

.escenarios {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(1, 1fr);
}
.escenarios .escenario__name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 3rem 0;
}
.escenarios .escenario__calendar li {
  padding: 2.5rem;
  font-weight: 800;
}
.escenarios .escenario__calendar li span {
  font-weight: 400;
}
@media (min-width: 768px) {
  .escenarios {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.bg-green {
  background-color: #4CB8B3;
}
.bg-green li:nth-child(odd) {
  background-color: #5ebfbb;
}

.bg-yellow {
  background-color: #FDDA00;
}
.bg-yellow li:nth-child(odd) {
  background-color: #ffdf18;
}

.tickets-container {
  background-color: #4CB8B3;
}
.tickets-container h3 {
  color: #fff;
}
.tickets-container .entry__name {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 900;
  margin: 3rem 0;
  text-align: center;
}
.tickets-container .entry__title p, .tickets-container .entryprice p {
  text-align: center;
  color: #fff;
}
.tickets-container .entry__title {
  background-color: #F53756;
}
.tickets-container .entry__title p {
  text-transform: uppercase;
  font-size: 2.2rem;
  padding: 1rem 0;
}
.tickets-container .entry__info {
  background-color: #fff;
}
.tickets-container .entry__info ul li {
  padding: 2rem;
  border-bottom: 1px solid #e1e1e1;
}
.tickets-container .entry__price {
  background-color: #fff;
  padding: 3rem;
}
.tickets-container .entry__price p {
  background-color: #752F97;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 900;
  padding: 1rem 0;
  text-align: center;
}
.tickets-container .entry__price p:hover {
  background-color: #391749;
}
.tickets-container .entry:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.tickets-container .tickets {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .tickets-container .tickets {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  background-color: #F53756;
  padding: 2rem 0;
}
footer p {
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
