@use '../abstracts/var' as v;
@use '../components/mixins' as m;

header {
    background-color: v.$greenish;
    .container-header {
        padding: 2rem;
        .logo {
            color: v.$white;
            text-align: center;
        }
    }
    @include m.tablet {
        .container-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            .logo {
                text-align: left;
                margin: 0 2rem 0 0;
            }
        }
    }
}

