@use '../abstracts/var' as v;
@use '../components/mixins' as m;

.tickets-container {
    background-color: v.$greenish;
    
    h3 {
        color: v.$white;
    }
    .entry {
        &__name {
            color: v.$white;
            font-size: 3.6rem;
            font-weight: 900;
            margin: 3rem 0;
            text-align: center;
        }
        &__title, &price {
            p {
                text-align: center;
                color: v.$white;
            }
        }
        &__title {
            background-color: v.$pink;
            p {
                text-transform: uppercase;
                font-size: 2.2rem;
                padding: 1rem 0;
            }
        }
        &__info {
            background-color: v.$white; 
            ul {
                li {
                    padding: 2rem;
                    border-bottom: 1px solid #e1e1e1;
                }
            }
        }
        &__price {
            background-color: v.$white;
            padding: 3rem;
            p {
                background-color: v.$purple;
                border-radius: 1rem;
                color: v.$white;
                cursor: pointer;
                font-size: 2.8rem;
                font-weight: 900;
                padding: 1rem 0;
                text-align: center;
                &:hover {
                    background-color: darken(v.$purple, 20%);
                }
            }
        }
        &:hover {
            transform: scale(1.1);
            transition: transform .3s ease-in-out;
        }
    }
    .tickets {
        @include m.container;
        @include m.tablet {
            @include m.grid(2, 5rem);
        }
    }
}