@use '../abstracts/var' as v;
@use './mixins' as m;

.nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__link {
        color: v.$white;
        font-size: 2.5rem;
        &:hover {
            color: v.$yellow;
        }
    }
    @include m.tablet {
        flex-direction: row;
    }
}
